{% extends 'base.html' %}
{% block title %}game{% endblock %}

{% block content %}
<table>
    <tbody>
        {% for row in board %}

        <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
        </tr>

        {% endfor %}
    </tbody>
</table>
<form id="guessForm"   method="post">
    <input  id="word" type="text" name="guess" placeholder="Enter a word  ">
    <button>submit</button>
</form>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/app.js"></script>
{% endblock %}